<h2 class="text-center text-3xl font-bold text-primary">Iniciar Sesión</h2>

    <form class="space-y-4" >
      <!-- Email -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Correo electrónico</span>
        </label>
        <input
          type="email"
          name="email"
          required
          class="input input-bordered w-full"
          placeholder="ejemplo@correo.com"
        />
      </div>

      <!-- Contraseña -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Contraseña</span>
        </label>
        <input
          type="password"
          name="password"
          required
          class="input input-bordered w-full"
          placeholder="********"
        />
      </div>

      <!-- Botón de Login -->
      <div class="form-control mt-6">
        <button type="submit" class="btn btn-primary w-full">Ingresar</button>
      </div>
    </form>

    <!-- Separador -->
    <div class="divider">¿No tenés cuenta?</div>

    <!-- Botón de Registro -->
    <div class="form-control">
      <a routerLink="/auth/register" class="btn btn-outline btn-accent w-full">
        Crear cuenta
      </a>
    </div>

